@font-face{
    font-family: "OpenSans";
    src: url('../OPENS/Open_Sans.zip');
}
@font-face{
    font-family:'nasalization';
    src: url('../assetsd04/nasalization-rg.ttf');

}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 14px;
    background-color: #f2f2f2;
    text-align: center;
    width: 810px;
    margin: auto;
}
header{
    text-align: center;
    height: 150px;
    background-image: url('../assetsd04/texture-header.jpg');
    width: 100%;
}
.content{
    display: inline-block;
    color: white;
    white-space: nowrap;
    list-style: 5em;
    height: 5em;
    margin-right: 50px;
    margin-top: 0px;
    margin-left: 50px;
    margin-bottom: 90px;
    text-align: right;
    flex-direction: row;
    }
.right{
    width: 33%;
    color: #b9b6b6;
}
.left{
    width: 33%;
    color: #b9b6b6;
    }
    .middle{
        width: 33%;
        color: #b9b6b6; }
#active{
    color: #17c1ff;
    font-weight: bold;
}
h1{
    src: url('../assetsd04/nasalization-rg.ttf');
    font-size: 40px;
    color: #17c1ff;
    text-align: center;
    white-space: nowrap;
    line-height: 5em;
    height: 5em;
    font-weight: bold;
}
a{
    color: #17c1ff;
}
h2{
    text-shadow: #e6e6e6;
}
p{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
table {
    border: medium solid #000000;
    width: 50%;
    }
    td, th {
    border: thin solid #6495ed;
    width: 50%;
    }







        
    